= form_for(@list) do |f|
  - if @list.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@list.errors.count, "error")
        prohibited this list from being saved:
      %ul
      - @list.errors.full_messages.each do |message|
        %li= message
  .field
    = f.label "title"
    %br
      = f.text_field :title, class: 'task-field'
  .field
    = f.label :description
    %br
      = f.text_area :description, class: 'task-field'
  .actions
    = f.submit 'Create', :class => 'add-button'