!!!
%html
	%head
		%title Todoapp
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
	%body
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to "TODO", root_path, class:"link-main"
				%ul.nav.navbar-nav.navbar-right
					- if user_signed_in?
						%li.link= link_to "All lists", root_path, class:"link"
						%li.link= link_to "New list", new_list_path, class:"link"
						%li.link= link_to 'Edit profile', edit_user_registration_path, class:"link"
						%li.link= link_to 'Log out!', destroy_user_session_path, method: :delete, class:"link"
					- else
						%li= link_to 'Sign in', new_user_session_path
						%li= link_to 'Registration', new_user_registration_path
		.container
			- flash.each do |name, msg|
				= content_tag(:div, msg, class: 'alert alert-info')
			= yield